.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-pic img {
    object-fit: cover;
    border-radius: 50%;
    object-position: 0px -7rem;
    width: 40rem;
    height: 40rem;
    margin-right: 10rem;
    opacity: 0.75;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60rem;
    height: 40rem;
}

.about-content h1 {
    font-family: 'Ubuntu';
    font-size: 8rem;
    color: rgba(255,255,255,0.9);

    transform: translateY(50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.about-content span {
    font-family: 'Roboto Condensed';
    font-size: 1.7rem;
    color: #b28949;
    text-transform: uppercase;
    margin: 2rem 0 2rem 0;

    transform: translateY(50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.about-content p {
    font-family: 'Lato';
    font-size: 1.8rem;
    color: rgba(255,255,255,0.9);
    line-height: 32px;

    transform: translateY(50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;

}

#stack-title {
    color: rgba(255,255,255,0.8);
    letter-spacing: 5px;
    margin: 3rem 0 3rem 0;
    transition-delay: 0.9s;
}

.tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 1.2s;

}

.stack-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 4rem;
    margin: 0 1.5rem 0 1.5rem;
}

.stack-group span {
    font-size: 1.7rem;
    color: white;
}

.fadein {
    opacity: 1 !important;
    transform: translateY(0) !important;
}