* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background: #fdfdfd;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    max-width: 210rem;
    margin: 0px auto;
}

aside {
    background-color: #fff;
    box-shadow: -2px 0px 20px 0px #5a5a5a;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex start;
    width: 20rem;
    min-width: 15rem;
}

.logo {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 14rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
    color: #333;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
}

nav li {
    list-style: none;
    text-align: right;
    padding-right: 1.6rem;
    margin-bottom: 0.8rem;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #666;
    font-weight: bolder;
    font-size: 2rem;
    transition: margin .3s ease;
}

nav a:hover {
    color: black;
    margin-right: 1rem;
    transition: margin .3s ease;
}

main {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 0px 22px 0px #5a5a5a;
    background-color: #dfdbdb;
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox compatibility */
    -ms-overflow-style: none; /* IE 10+ */
    scroll-behavior: smooth;
}

main::-webkit-scrollbar { /* WebKit */
    width: 0;
}

.about {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 54rem;
    background-image: url(images/aboutme1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%; /* Horizontal, Vertical */
}

.about-blurb {
    display: flex;
    flex-direction: column;
    flex-basis: 60rem;
    margin-right: 32rem;
    color: #333;
}

.about-blurb h2 {
    font-size: 8rem;
    margin-bottom: 6rem;
}

.about-blurb p {
    font-size: 4rem;
    align-self: flex-end;
    margin-right: -18rem;
    margin-bottom: -10rem;
    font-style: italic;
}

.learning {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    box-shadow: 0px -4px 20px 2px #494949;
    background: rgba(255, 213, 146, 0.356);
    background: #222;
    color: #eee;
}

#learning-h2 {
    font-size: 6rem;
    font-style: italic;
    margin-top: 3rem;
    margin-left: 5rem;
}

.learning-main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;
}

.learning-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 50%;
    margin: 0rem 4rem;
}

.learning-card h2 {
    font-size: 2.5rem;
    font-style: normal;
}

.card-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-logo {
    background-image: url(images/wccilogo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30rem;
    width: 30rem;
    margin: 2rem;
}

#ux-logo {
    background-image: url(images/ux.jpg);
    background-size: cover;
    background-position: 10% 0%;
    margin-top: 5rem;
    border-radius: 2rem;
}

.card-blurb {
    height: 30rem;
    width: 40rem;
    font-size: 2rem;
    padding: 1rem;
    list-style-position: inside;
    margin: 2rem;
    margin-top: 4rem;
}

.card-blurb p {
    margin-bottom: 1.5rem;
}

.card-blurb ul {
    margin-left: 3rem;
}

.projects {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url(images/projectsbg.jpg);

    background-size: cover;
    background-position: 0;
}

.projects-blurb {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 2rem;
    margin-right: 5rem;
    align-self: flex-end;
}

.projects-blurb h2 {
    font-size: 6rem;
    font-style: italic;
}

.project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 5rem;
    width: 100%;
    height: 55vh;
    align-self: center;
    margin: auto 0;
    flex-wrap: wrap;
}

.card {
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 30rem;
    width: 48rem;
    background-image: url('https://i.imgur.com/9kPCIHD.png');
    background-size: cover;
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.2, 1.2);
    margin-left: 2rem;
    margin-right: 2rem;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.project-action{
    align-self: flex-end;
    margin-right: 5rem;
    margin-bottom: 2.5rem;
    transition: 0.3s ease;
}

.project-action:hover{
    margin-right: 7rem;
    transition: 0.3s ease;
}

.project-action:hover .github-text {
    background: #2aa848;
    transition: 0.3s ease;
}

.github-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.github-text {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    background: #31c754;
    border-radius: 3rem;
    transition: 0.3s ease;
}

.fa-github-alt {
    margin: 1rem;
    font-size: 10rem;
    color: white;
}

.contact {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 30vh;
    background: #c4302b;
}

.contact h2 {
    font-size: 6rem;
    font-style: italic;
    color: #fff;
    margin-top: 3rem;
    margin-left: 5rem;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 2rem;
    align-self: stretch;
    margin: auto 0 0 0;
    height: 20vh;
}

i.far,i.fab
 {
    color: white;
    transition: 0.3s ease;
}

i.far:hover,i.fab:hover {
    transform: scale(1.3,1.3);
    transition: 0.3s ease;
}
